<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Some Web Page</title>
    <link rel="stylesheet" href="header.css" />
    <!-- <link rel="stylesheet" href="../assets/search-icon.png" /> -->
  </head>
  <body>
    <div class="menu-container">
      <div class="menu"> 
        <div class="Engima">Engima</div>

        <!-- <div class="input-group md-form form-sm form-2 pl-0"> -->
        <div>
            <input
            style="width: 200px; position: absolute"
            type="text"
            placeholder="Search Movie"
            />
          <img src="../assets/search-icon.png" style="width: 25px; height: 25px; position: fixed">test</img>
        </div>
        <!-- <div class="input-group-append">
          <span class="input-group-text lime lighten-2" id="basic-text1"
            ><i class="fas fa-search text-grey" aria-hidden="true"></i
          ></span>
        </div> -->
        <!-- </div> -->
        <!-- <input type="text" placeholder="Search" /> -->
        <!-- <i>patapon</i> -->
        <div class="trans-log">
        <div class="Transactions">Transactions</div>
        <div class="logout">Logout</div>
        </div>
      </div>
    </div>
  </body>
</html>
