<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Some Web Page</title>
    <link rel="stylesheet" href="header.css" />
  </head>
  <body>
    <div class="menu-container">
      <div class="menu">
        <div class="Engima"><b style="color: #20d6fa;">Engi</b>ma</div>
        <input
          style="width: 200px; padding: 5px; border-radius: 2.5px; border-width: 0.5px;"
          type="text"
          placeholder="Search Movie"
        > 
        <img
          src="../assets/search-icon.png"
          style="width: 17.5px; height: 17.5px; position: fixed; margin-left:37px; margin-top: 4px;"
        />
      </input>

        <div class="trans-log">
          <!-- <div>patapon</div> -->
          <div class="Transactions">Transactions</div>
          <div class="logout">Logout</div>
        </div>
      </div>
    </div>
  </body>
</html>
