<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="login-register.css"
      media="screen"
    />
  </head>
  <body>
    <!-- <div style="margin-top:130px;">
      <h2 style="margin-left:550px;">Login Page</h2>
    </div> -->

    <div class="outer-container">
      <form class="container" method="post">
        <!-- <div class="login-form"> -->
        <div class="imgcontainer">
          <p>Welcome to <b>Engi</b>ma!</p>
        </div>

        <div class="container">
          <label for="uname"><b>Email</b></label>
          <input type="text" placeholder="john@doe.com" name="uname" required />

          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="place here" name="psw" required />
          <button type="submit">Login</button>
        </div>

        <div class="container">
          <center>
            <span class="redirect-text"
              >Don't have an account?
              <a href="/register" class="register-button"
                >Register here</a
              ></span
            >
          </center>
        </div>
        <!-- </div> -->
      </form>
    </div>
  </body>
</html>
