.name {
  font-family: Arial, Helvetica, sans-serif;
}

b.name-color {
  color: #3fddfc;
}

.hello {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.heading {
  display: flex;
  justify-content: left;
  margin-left: 75px;
}

.now-play {
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 75px;
}

img {
  border-radius: 10px 10px 0 0;
}

.films-container {
  justify-content: flex-start;
  display: flex;
  margin-left: 60px;
}

.film {
  width: 170px;
  height: 185px;
  border-radius: 10px;
  margin: 5px 13px 5px 13px;
}

.description-film {
  padding: 2px 16px;
  margin-top: -13px;
}

.rating-home {
  height: 16px;
  width: 16px;
}

.rating-home-description {
  margin-top: -15px;
  display: flex;
}

div.rating-home-description p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
}

h4.film-title {
  width: 400px;
}
