.base-homepage {
  font-family: Raleway-Bold;
  background-color: #2b2821;
  padding-left: 60px;
  padding-right: 60px;
  height: 722px;
}

.homepage {
  background-color: white;
  height: 722px;
}

b.name-color {
  color: #3fddfc;
}

.heading {
  display: flex;
  justify-content: left;
  padding-top: 20px;
  margin-left: 100px;
}

.now-play {
  font-size: 21px;
  padding-top: 20px;
  margin-left: 100px;
}

.film-poster-container {
  width: 50px;
}

.film-poster {
  border-radius: 10px;
  height: 200px;
}

.films-container {
  padding-top: 20px;
  margin-left: 100px;
  margin-top: 20px;
  justify-content: flex-start;
  display: flex;
}

.film {
  width: 100px;
  height: 150px;
  border-radius: 10px;
  margin: 5px 43px 5px 43px;
}

.description-film {
  padding-top: 10px;
}

.rating-home {
  height: 16px;
  width: 16px;
}

.rating-home-description {
  display: flex;
}

div.rating-home-description p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
}

h4.film-title {
  width: 200px;
}
