.base-container {
	background-color: grey;
	padding-left: 10%;
	padding-right: 10%;
	height: 100vh;
}

.interface {
	background-color: white;
	width: 1000px;
	height: 100%;
}

.back-image {
	width: 100%;
	height: 50px;
	margin-top: 100px;
}

.back-image img{
	margin-left: 60px;
	float: left;
}

.movie-title {
	float: left;
	text-align: left;
	font-size: 25px;
	display: inline;
	margin-top: 20px;
	margin-left: 40px;
}

.add-rating-text {
	margin-top: 200px;
	margin-left: 100px;
	float: left;
	width: 90px;
	height: 50px;
}

.rating-star {
	margin-top: 50px;
	float: right;
	width: 236px;
	height: 50px;
	margin-right: 62px;
}

/*
.add-review-text {
	float: left;
	width: 90px;
	height: 100px;
}

.review-box {
	-webkit-box-shadow: 1px 1px rgba(194, 190, 194, 0.96);
	-moz-box-shadow: 1px 1px rgba(194, 190, 194, 0.96);
	box-shadow: 1px 1px rgba(194, 190, 194, 0.96);
	float: right;
	width: 240px;
	height: 100px;
	margin-right: 53px;
	border-radius: 10px;
    border: 2px solid #34a4eb;
    padding: 4px 4px 2px 4px;
}

#review-text {
	width: 600px;
	height: 88px;
	resize: none;
	border: none;
}

.submit-button {
	-webkit-box-shadow: 1px 1px rgba(194, 190, 194, 0.96);
	-moz-box-shadow: 1px 1px rgba(194, 190, 194, 0.96);
	box-shadow: 1px 1px rgba(194, 190, 194, 0.96);
	width: 63.7px;
	margin-top: 10px;
	float: right;
	margin-right: 54px;
}

#button-submit {
	padding: 4px 10px 4px 10px;
	background-color: #007bbd;
	color: white;
	border: none;
}

.rating-star > input {
	display: none;
}

.rating-star > label:before { 
  display: inline-block;
}*/

.rating-star > label {
	color: #ddd;
	font-size: 1.8em;
	float: right; /* reverses the order of the radio buttons */
}

.rating-star > input:checked ~ label {
	color: #34a4eb;
}

.rating-star > input:hover ~ label {
	color: #79c7f7;
}


