.base {
  display: flex;
  justify-content: center;
  background-color: #2b2821;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
}

.movie {
  margin: 30px;
  height: 300px;
}

img.movie-image {
  border-radius: 7.5px 7.5px 7.5px 7.5px;
  width: 220px;
  height: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  background: white;
}

.upper-container {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.lower-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.genre-time {
  color: rgb(21, 125, 150);
  display: inline;
}

.genre {
  height: 25px;
  margin-bottom: 11px;
  display: flex;
}

.genre-item {
  display: flex;
  margin-top: 6px;
}

.symbol-separate {
  color: rgb(21, 125, 150);
  display: inline;
  font-size: 28px;
  font-weight: lighter;
  margin-right: 10px;
  margin-left: 10px;
}

.star {
  display: flex;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.description {
  margin-left: 10px;
  margin-top: 53px;
}

.schedules {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  width: 550px;
  height: 430px;
  border-radius: 5px;
}

.reviews {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-left: 10px;
  width: 450px;
  height: 400px;
  border-radius: 5px;
}

.rating {
  display: flex;
  justify-content: left;
  margin-bottom: 15px;
}

.score1 {
  font-size: 20px;
  margin-right: 4px;
}

.score2 {
  font-size: 15px;
  margin-top: 5px;
}

.movie-title {
  margin-bottom: 8px;
  font-size: 33px;
}

.released-date {
  margin-top: 4px;
  margin-bottom: 10px;
}

.brief-explanation {
  width: 790px;
}

.schedules-title {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.reviews-title {
  font-size: 20px;
  margin-left: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.divider {
  border-top: 1px solid #8c8b8b;
  border-bottom: 1px solid #fff;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.divider-review {
  border: 1px solid #dddddd;
  margin-top: 10px;
  margin-bottom: 10px;
}

.schedules-info {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 15px;
  font-size: 13px;
}

.red-cross {
  height: 18.5px;
  width: 18.5px;
  margin-left: 10px;
}

.blue-next {
  height: 15.5px;
  width: 15.5px;
  margin-left: 10px;
}

.not-available {
  color: red;
  text-align: right;
}

.available {
  color: aqua;
  text-align: right;
}

.schedules-content {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 15px;
  font-size: 13px;
}

.schedules-availability {
  display: flex;
}

.avatar {
  height: 70px;
  width: 70px;
  border-radius: 50px;
}

.review-row {
  display: flex;
  justify-content: center;
  margin-left: 10px;
}

.avatar-wrapper {
  display: flex;
  align-items: top;
}

.review-description {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.user-rating {
  width: 20px;
  height: 20px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-top: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
  /* border-radius: 1000px; */
}

.tabletop {
  border-top: 0;
}

.score {
  font-size: 20px;
  margin-left: 7.5px;
  margin-right: 3px;
}

.total-score {
  font-size: 12px;
  margin-left: 3px;
}

.review-rating {
  display: flex;
  justify-content: left;
}

.slash {
  font-size: 12px;
}

.review-text-info {
  font-size: 15px;
}
