<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/booking.css" />
    <title>Engima</title>
  </head>
  <body>
    <div>
      <div class="heading">
        <h1>Avangers: Endgame</h1>
        <h3>Septemver 4, 2019 - 09:40</h3>
      </div>
      <div class="modal">
        <div class="modal-content">
          <h1>Payment Success!</h1>
          <p>Thank you for purchasing! You can view your purchase now.</p>
          <button class="blue-button">Go to transaction history</button>
        </div>
      </div>
      <div class="ticket-section">
        <div class="studio">
          <ol class="seat-section">
            <li><button id="1">1</button></li>
            <li><button disabled id="2">2</button></li>
            <li><button id="3">3</button></li>
            <li><button id="4" disabled>4</button></li>
            <li><button id="5">5</button></li>
            <li><button id="6" disabled>6</button></li>
            <li><button id="7">7</button></li>
            <li><button id="8">8</button></li>
            <li><button id="9" disabled>9</button></li>
            <li><button id="10">10</button></li>
            <li><button id="11">11</button></li>
            <li><button id="12" disabled>12</button></li>
          </ol>
          <div class="screen">Screen</div>
        </div>
        <div class="summary">
          <h2>Booking Summary</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
            optio cumque reiciendis suscipit, amet quisquam sit voluptatibus.
            Excepturi consequuntur vero porro. Ipsa quidem iure accusantium.
            Aperiam voluptatum numquam esse eveniet.
          </p>
          <div class="seat-details">
            <h3>Avengers: Endgame</h3>
            <p>Semptember 4, 2019 - 09:40</p>
            <div class="number-price">
              <h3>Seat #X</h3>
              <h3>Rp 75.000,-</h3>
            </div>
            <button class="blue-button ticket-button">Buy Ticket</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/booking.js"></script>
  </body>
</html>
