<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Some Web Page</title>
    <link rel="stylesheet" href="css/header.css" />
  </head>
  <body>
    <div class="menu-container">
      <div class="menu">
        <!-- <div class="engima-search"> -->
          <div class="engima" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; margin-left: -10px;"><a href="dashboard" style="text-decoration: none !important; color: black"><b style="color: #20d6fa;">Engi</b>ma</a></div>
          <!-- <div class="search"> -->
            <input
            style="width: 300px; padding: 5px; border-radius: 2.5px; border-width: 0.5px; margin-left: 20px; margin-right: 300px"
            type="text"
            placeholder="Search Movie"
          > 
          <img
            src="../assets/search-icon.png"
            style="width: 17.5px; height: 17.5px; position: fixed; margin-left:-55px; margin-top: 4px;"
          />
        </input>
        <!-- </div> -->
      <!-- </div> -->

        <div class="trans-log">
          <a href="transaction" class="transaction" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-decoration: none !important; color: black">Transactions</a>
          <a href="logout" class="logout" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-decoration: none !important; color: black">Logout</a>
        </div>
      </div>
    </div>
  </body>
</html>
