<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Some Web Page</title>
    <link rel="stylesheet" href="css/header.css" />
  </head>
  <body>
    <div class="menu-container">
      <div class="menu">
          <div class="engima"><a href="/dashboard" class="dashboard"><b class="engi">Engi</b>ma</a></div>
  
          <input
            class="search"
            type="text"
            placeholder="Search Movie"
          > 
          <img
            class="magnifier"
            src="../assets/search-icon.png"
          />
        </input>

        <div class="trans-log">
          <a href="/transaction" class="transaction">Transactions</a>
          <a href="/logout" class="logout">Logout</a>
        </div>
      </div>
    </div>
  </body>
</html>
