<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/homepage.css" media="screen" />
    <script type="text/javascript" src="/js/include.js"></script>
  </head>

  <body>
    <header include="/head"></header>
    <div class="heading">
      <h1 class="hello">
        Hello
      </h1>
      <h1 class="name">, <b id="username"></b>!</h1>
    </div>

    <p class="now-play">Now Playing</p>

    <div class="films-container">
      <div class="film">
        <img
          src="/assets/avengers endgame.jpeg"
          alt="Film"
          style="width:100%"
        />
        <div class="description">
          <h4><b>Avengers: Endgame</b></h4>
          <p>8.75</p>
        </div>
      </div>
    </div>
  </body>
</html>
<script type="text/javascript">window.onload = function () {
  includeHTML();
};</script>