<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="css/homepage.css" media="screen" />
  <script type="text/javascript" src="/js/include.js"></script>
</head>

<body>
  <header include="/head"></header>
  <div class="base-homepage">
    <div class="homepage">
      <div class="heading">
        <h1 class="hello">Hello</h1>
        <h1 class="name">, <b class="name-color">gery.wahyu</b>!</h1>
      </div>
      <p class="now-play">Now Playing</p>
      <div class="films-container">
        <div class="film">
          <div class="film-poster-container">
            <img class="film-poster" src="assets/avengers endgame.jpg" alt="Film" />
          </div>
          <div class="description-film">
            <h4 class="film-title"><b>Avengers: Endgame</b></h4>
            <div class="rating-home-description">
              <img class="rating-home" src="assets/rating.png" />
              <p>8.75</p>
            </div>
          </div>
        </div>
        <div class="film">
          <div class="film-poster-container">
            <img class="film-poster" src="assets/Gundala-post.jpg" alt="Film" />
          </div>
          <div class="description-film">
            <h4 class="film-title"><b>Gundala</b></h4>
            <div class="rating-home-description">
              <img class="rating-home" src="assets/rating.png" />
              <p>8.75</p>
            </div>
          </div>
        </div>
        <div class="film">
          <div class="film-poster-container">
            <img class="film-poster" src="assets/naruto shippuden.jpg" alt="Film" />
          </div>
          <div class="description-film">
            <h4 class="film-title"><b>Naruto Shippuden</b></h4>
            <div class="rating-home-description">
              <img class="rating-home" src="assets/rating.png" />
              <p>8.75</p>
            </div>
          </div>
        </div>
        <div class="film">
          <div class="film-poster-container">
            <img class="film-poster" src="assets/thelastairbender.jpg" alt="Film" />
          </div>
          <div class="description-film">
            <h4 class="film-title"><b>The Last Air Bender</b></h4>
            <div class="rating-home-description">
              <img class="rating-home" src="assets/rating.png" />
              <p>8.75</p>
            </div>
          </div>
        </div>
        <div class="film">
          <div class="film-poster-container">
            <img class="film-poster" src="assets/skyfall.jpg" alt="Film" />
          </div>
          <div class="description-film">
            <h4 class="film-title"><b>Skyfall</b></h4>
            <div class="rating-home-description">
              <img class="rating-home" src="assets/rating.png" />
              <p>8.75</p>
            </div>
          </div>
        </div>
        <div class="film">
          <div class="film-poster-container">
            <img class="film-poster" src="assets/thelastairbender.jpg" alt="Film" />
          </div>
          <div class="description-film">
            <h4 class="film-title"><b>The Last Air Bender</b></h4>
            <div class="rating-home-description">
              <img class="rating-home" src="assets/rating.png" />
              <p>8.75</p>
            </div>
          </div>
        </div>
        <div class="film">
          <div class="film-poster-container">
            <img class="film-poster" src="assets/skyfall.jpg" alt="Film" />
          </div>
          <div class="description-film">
            <h4 class="film-title"><b>Skyfall</b></h4>
            <div class="rating-home-description">
              <img class="rating-home" src="assets/rating.png" />
              <p>8.75</p>
            </div>
          </div>
        </div>
        <div class="film">
          <div class="film-poster-container">
            <img class="film-poster" src="assets/thelastairbender.jpg" alt="Film" />
          </div>
          <div class="description-film">
            <h4 class="film-title"><b>The Last Air Bender</b></h4>
            <div class="rating-home-description">
              <img class="rating-home" src="assets/rating.png" />
              <p>8.75</p>
            </div>
          </div>
        </div>
        <div class="film">
          <div class="film-poster-container">
            <img class="film-poster" src="assets/skyfall.jpg" alt="Film" />
          </div>
          <div class="description-film">
            <h4 class="film-title"><b>Skyfall</b></h4>
            <div class="rating-home-description">
              <img class="rating-home" src="assets/rating.png" />
              <p>8.75</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
<script type="text/javascript">
  window.onload = includeHTML();
</script>