.name {
  font-family: Arial, Helvetica, sans-serif;
}

h1 b {
  color: #3fddfc;
}

.hello {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.heading {
  display: flex;
  justify-content: left;
  margin-left: 75px;
}

.now-play {
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 75px;
}

img {
  border-radius: 10px 10px 0 0;
}

.films-container {
  justify-content: flex-start;
  display: flex;
  margin-left: 75px;
}

.film {
  width: 170px;
  height: 185px;
  border-radius: 10px;
}

.description {
  padding: 2px 16px;
}
