<!DOCTYPE html>
<html>
<head>
<style>
</style>
	<title>Index</title>
	<script type="text/javascript" src="/js/include.js"></script>
	<script type="text/javascript" src="/js/check.js"></script>
	<script type="text/javascript" src="/js/get.js"></script>
</head>
<body>
	<header include="/head"></header>
	<div>Hello World!</div>
	<div id="username">nope</div>
	<form action="/api/user/postrequest" method="POST">
	  First name:<br>
	  <input type="text" name="hua" id="inputname" onblur="checkuname()">
	  <br>
	  <p style="color : red;display: none;" id="alert-uname">Username already exists</p>
	  <input type="submit" value="Submit">
	</form> 

</body>
</html>
<script type="text/javascript">window.onload = includeHTML();</script>
<script type="text/javascript">window.onload = getJSON();</script>