<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/movie-desc.css" />
    <script type="text/javascript" src="js/include.js"></script>
  </head>
  <body>
    <header include="/head"></header>
    <div class="main-container">
      <div class="upper-container">
        <div class="movie">
          <img src="/assets/avengers endgame.jpeg" alt="Movie" />
          <!-- <div class="container">
          <h4><b>Jane Doe</b></h4>
          <p>Interior Designer</p>
        </div> -->
        </div>
        <div><h2>Avengers: Endgame</h2></div>
      </div>
      <div class="lower-container">
        <div>don chaka don chaka</div>
        <div>lesgooo lesgooo</div>
      </div>
    </div>
  </body>
</html>
<script type="text/javascript">
  window.onload = includeHTML();
</script>
