<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/movie-desc.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="upper-container">
        <div class="movie">
          <img src="/assets/avengers endgame.jpeg" alt="Movie" />
          <!-- <div class="container">
          <h4><b>Jane Doe</b></h4>
          <p>Interior Designer</p>
        </div> -->
        </div>
        <div>pepega</div>
      </div>
      <div class="lower-container">
        <div>don chaka don chaka</div>
        <div>lesgooo lesgooo</div>
      </div>
    </div>
  </body>
</html>
