<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>moviedesc</title>
    <link rel="stylesheet" href="/css/movie-desc.css" />
    <script type="text/javascript" src="js/include.js"></script>
  </head>
  <body>
    <header include="/head"></header>
    <div class="main-container">
      <div class="upper-container">
        <div class="movie">
          <img
            class="movie-image"
            src="/assets/avengers endgame.jpeg"
            alt="Movie"
          />
          <!-- <div class="container">
          <h4><b>Jane Doe</b></h4>
          <p>Interior Designer</p>
        </div> -->
        </div>
        <div class="description">
          <h2>Avengers: Endgame</h2>
          <p class="genre-time">
            Drama, Fantasy, Adventure | 187 mins
          </p>
          <p>Released date: April 17, 2019</p>
          <img class="rating" src="/assets/star1.svg" alt="Rating" />
          <p>
            lorem ipsum tralalalalalalla anjay anjay gnjewngjoenw gejwogjeowgo
            igowerhjgoewg ijweohgioewhgewo higweohgieowgh igeowhgieoih
            hhjvo4pqtnvhj4opntvji4opt vi4unoptjv4i3opti3
            tvi4no3ptvuio34ptnuvoi34utvio nvui4o3ntuvi4 vu43iotnu43io
            vtnu34iotnuv4io
          </p>
        </div>
      </div>
      <div class="lower-container">
        <div>don chaka don chaka</div>
        <div>lesgooo lesgooo</div>
      </div>
    </div>
  </body>
</html>
<script type="text/javascript">
  window.onload = includeHTML();
</script>
