<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border-top: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.tabletop{
  border-top: 0;
}


</style>
</head>
<body>

<h2>HTML Table</h2>
<table id="schtable">
  <tr class="tabletop">
    <th class="tabletop">Date</th>
    <th class="tabletop">Time</th>
    <th class="tabletop">Available Seats</th>
    <th class="tabletop" />
  </tr>
  <tr>
    <td>September 3, 2019</td>
    <td>06.30 PM</td>
    <td>10 seats</td>
    <td>Not Available</td>
  </tr>
  <tr>
    <td>September 3, 2019</td>
    <td>06.30 PM</td>
    <td>10 seats</td>
    <td>Not Available</td>
  </tr>
  <tr>
    <td>September 3, 2019</td>
    <td>06.30 PM</td>
    <td>10 seats</td>
    <td>Not Available</td>
  </tr>
  <tr>
    <td>September 3, 2019</td>
    <td>06.30 PM</td>
    <td>10 seats</td>
    <td>Not Available</td>
  </tr>
  <tr>
    <td>September 3, 2019</td>
    <td>06.30 PM</td>
    <td>10 seats</td>
    <td>Not Available</td>
  </tr>
  <tr>
    <td>September 3, 2019</td>
    <td>06.30 PM</td>
    <td>10 seats</td>
    <td>Not Available</td>
  </tr>
  <tr>
    <td>September 3, 2019</td>
    <td>06.30 PM</td>
    <td>10 seats</td>
    <td>Not Available</td>
  </tr>
  <tr>
    <td>September 3, 2019</td>
    <td>06.30 PM</td>
    <td>10 seats</td>
    <td>Not Available</td>
  </tr>
  <tr>
    <td>September 3, 2019</td>
    <td>06.30 PM</td>
    <td>10 seats</td>
    <td>Not Available</td>
  </tr>
  <tr>
    <td>September 3, 2019</td>
    <td>06.30 PM</td>
    <td>10 seats</td>
    <td>Not Available</td>
  </tr>
</table>

</body>
</html>